@font-face {
    font-family: GODOFWAR;
    src: url(../Fonte/GODOFWAR.TTF);
}

body{
    margin: 0%;
}

header::before {
    content: ''; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)), url('../Imagens/Fundo_GOW.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}

header{
    display: flex;
    flex-direction: row;
}

img{
    display: flex;
    justify-content: center;
}


h1{ 
    position: absolute;
    color: #FFF;
}

.lado-esquerdo{
    padding-top: 18rem;
    padding-left: 8rem;
    z-index: 4;
}

.lado-direito{
    font-size: 1rem;
    padding-top: 280px;
    padding-left: 45rem;
    left: 100rem;
    z-index: 4;
}

.box{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.iconebox{
    cursor: pointer;
    padding-left: 1rem;
    height: 4rem;
    opacity: 0;
    transform: translateX(50px);
}

.box:hover .iconebox{
    opacity: 100%;
    transform: translateX(0);
    transition: 500ms;

}

h2{
    font-family: GODOFWAR;
    cursor: pointer;
    padding: 1rem;
    color: #FFF;
}

h3{
    font-size: 30px;
    width: 400px;
    position: absolute;
    color: #FFF;
}

button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    width: 170px;
    height: 35px;
    margin-top: 19rem;
    position: absolute;
    color: #ffffff;
    background-color: #4A4646B0;
}

.botao{
    cursor: pointer;
    margin: 308px 0px 0px 138px;
    position: absolute;
    color: #FFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #A39F9F69;
}

h5 {
    position: absolute;
    padding-top: 7.7rem;
    position: relative;
    color: #FFF;

}

.id1{   
    Width: 700px;
    Height: 630px;
    position: absolute;
    z-index: 3;
    padding-left: 37rem;
    padding-top: 9rem;
}

.fundo2{
    Width: 1700px;
    Height: 567px;
    padding-top: 15rem;
    padding-left: 5rem;
    position: absolute;
    z-index: 2;
}

.simbolo {
    Width: 700px;
    Height: 630px;
    position: absolute;
    z-index: 2;
    padding-left: 37rem;
    padding-top: 12rem;
}

/* Não funciona o comando de escurecer a imagem igual o BG printcial do header*/
.FundoCinza{
    content: ''; 
    background-image: linear-gradient(rgba(0, 0, 0, 3.0),
    rgba(0, 0, 0, 3.0)), url('../Imagens/FundoGowCinza.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}

.RetanguloCinza{
    Width: 1700px;
    Height: 900px;
    padding-top: 2rem;
    padding-left: 5.5rem;
    position: absolute;
    z-index: -1;
}

/*.Linha1{
    margin: 0%;
    border: 0%;
    margin-top:6rem;
    margin-left: 10rem;
    font-size: 60px;
    color: #5e5a5a;
    position: absolute;
}*/

.PesquisaGOW{
    font-size: 55px;
    margin-top: 4.2rem;
    margin-left: 14rem;
    position: absolute;
    color: #FFF;
}

.JogoFavotiroOpcao{
    font-size: 35px;
    margin-top: 10.5rem;
    margin-left: 14rem;
    position: absolute;
    color: #FFF;
}

.Opcao{
    font-size: 31px;
    margin-top: 13.9rem;
    margin-left: 14rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck1{
    font-size: 22px;
    margin-top: 17.3rem;
    margin-left: 13.8rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck2{
    font-size: 22px;
    margin-top: 19.3rem;
    margin-left: 13.8rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck3{
    font-size: 22px;
    margin-top: 17.3rem;
    margin-left: 44rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck4{
    font-size: 22px;
    margin-top: 19.3rem;
    margin-left: 44rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck5{
    font-size: 22px;
    margin-top: 17.3rem;
    margin-left: 79rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck6{
    font-size: 22px;
    margin-top: 19.3rem;
    margin-left: 79rem;
    position: absolute;
    color: #FFF;
}


/*.Linha2{
    margin: 0%;
    border: 0%;
    padding-top:18rem;
    padding-left: 10rem;
    font-size: 60px;
    color: #5e5a5a;
    position: absolute;
}*/

/*.Linha3{
    margin: 0%;
    border: 0%;
    padding-top:21rem;
    padding-left: 10rem;
    font-size: 60px;
    color: #5e5a5a;
    position: absolute;
}*/

.Apreciou{
    font-size: 31px;
    margin-top: 25.5rem;
    margin-left: 14rem;
    position: absolute;
    color: #FFF;
}


.OpcaoCheck21{
    font-size: 27px;
    margin-top: 29rem;
    margin-left: 13.8rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck22{
    font-size: 27px;
    margin-top: 31.5rem;
    margin-left: 13.8rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck23{
    font-size: 27px;
    margin-top: 34rem;
    margin-left: 13.8rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck24{
    font-size: 27px;
    margin-top: 29rem;
    margin-left: 44rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck25{
    font-size: 27px;
    margin-top: 31.5rem;
    margin-left: 44rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck26{
    font-size: 27px;
    margin-top: 34rem;
    margin-left: 44rem;
    position: absolute;
    color: #FFF;
}

.OpcaoCheck27{
    font-size: 27px;
    margin-top: 29rem;
    margin-left: 79rem;
    position: absolute;
    color: #FFF;
}

/* ^^^^ POSSÍVEL FAZER APENAS COM UMA CLASSE, TIPO IGUAL A CLASSE BOX ^^^^ */


/*.Linha4{
    border: 1px solid red;
    margin: 0%;
    border: 0%;
    margin-top:33rem;
    padding-left: 10rem;
    font-size: 60px;
    color: #5e5a5a;
    position: absolute;
}

.Linha5{
    margin: 0%;
    border: 0%;
    margin-top:36rem;
    padding-left: 10rem;
    font-size: 60px;
    color: #5e5a5a;
    position: absolute;
}*/

.Avaliacao{
    font-size: 31px;
    width: 500px;
    margin-top: 40rem;
    margin-left: 14rem;
    position: absolute;
    color: #FFF;
}

.Al{
    font-size: 25px;
    width: 500px;
    margin-top: -2.5rem;
    margin-left: 0rem;
    position: absolute;
    color: rgb(255, 255, 255);
}

.LinhaInteragivel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 500px;
    padding-top: 49.4rem;
    padding-left: 13.6rem;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    /*border: #F57D0D 1px solid;
    border-radius: 1px;*/
    
}


.Sugestao{
    margin-top: -10.8rem;
    margin-right: 25rem;
    font-size: 31px;
    width: 600px;
    margin-left: 65rem;
    position: relative;
    color: #FFF;
}

.CampoSugestoes{
    margin-top: -1rem;
    display: grid;
    gap: 1rem;
    padding-left: 64.9rem;
    max-width: 33rem;
    border-radius: 1.5rem;
}

/*.Linha6{
    margin-top: -3.2rem;
    border: 0;
    padding-top: 2rem;
    padding-left: 10rem;
    font-size: 60px;
    color: #5e5a5a;
    position: absolute;
}*/

/* CÓDIGO DO PROFESSOR >>> FORMULÁRIO*/

.Formulario{
    padding-top: 10rem;
}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
}

#form-orcamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: #1f0c69;
    max-width: 500px;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1 / 3;
}

input[type="text"],
input[type="number"],
select{
    background-color: #ADADBC;
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
}

.input[type="checkbox"],
input[type="range"],
input[type="radio"]{                                
    accent-color: #ADADBC;
}
